.Wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

.Inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Options {
  display: flex;
}

.AddButton {
  width: 100%;
  margin-top: auto;
  border-radius: 0.25rem;
  height: 2rem;
  font-size: 1rem;
  box-sizing: border-box;
}
