@keyframes fadeOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Wrapper {
  animation: fadeOut 300ms ease-in-out forwards;
}

.DeleteButton {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}